<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" packages="log">
    <property name="logLevel"/>
    <Appenders>
        <MyCustomAppender name="MyCustomAppender"/>
        
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1}: %L - %msg%n%throwable}"/>
        </Console>

    </Appenders>

    <Loggers>
        <!-- Use system property, default to INFO -->
        <Root level="${sys:logLevel:-INFO}" additivity="false">
            <AppenderRef ref="MyCustomAppender"/>
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>